[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
coverage = "*"
python-dotenv = "*"
dj-database-url = "*"
gunicorn = "*"
djoser = "*"
django-cors-headers = "*"
whitenoise = "*"
django-extensions = "*"
django-rest-auth = "*"
django-allauth = "*"
django-shortcuts = "*"
decouple = "*"
django-heroku = "*"
djangorestframework-jwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
